*{
 margin: 0;
 padding: 0;
}

@font-face {
    font-family: 'NunitoRegular';
    src: url(/src/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'forTitle';
    src: url(/src/fonts/DancingScript-SemiBold.ttf);
}

body{
    font-size: 18px;
    font-family: 'NunitoRegular';
}


.header{
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 11vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      background-color: white;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    gap: 25px;
}

li{
    list-style: none;
}

 .link{
    text-decoration: none;
    color: black;
    padding: 7px;
    border-radius: 13px;
}

.link:hover{
    background-color: #dbdbd9;;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4em;
    font-family: 'forTitle';
}

.main{
    height: 89vh;
    margin-top: 110px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
   background: url(/dist/images/home-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
.dscr{
    text-align: center;
    font-size: 2em;
    color: white;
    margin-right: 90px;
}
.dscr h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.8px;
}
.dscr p{
    margin-top: 40px;
}

@media(max-width: 600px){
 ul{
    font-size: 1em;
    gap: 8px;
 }

.logo{
    font-size: 1.1em;
    margin-left: 10px;
}

.dscr{
    font-size: 1.2em;
    margin-right: 0px;
    margin-bottom: 150px;
   background-color: white;
   color: black;
}
.dscr h1{
    letter-spacing: 0.3px;
}
 
.dscr p{
    margin-top: 10px;
    margin-bottom: 10px;
}

}